[Unit]
Description=ovet_telega

[Service]
ExecStart=/usr/bin/python /************************** # путь до телеграмм бота
User=<user_name>
Restart=on-failure
RestartSec=5s
SyslogIdentifier=ovet_telega
SyslogFacility=daemon

[Install]
WantedBy=multi-user.target

